aws_ami_id         = "{{ aws_ami_id }}"
aws_key_name       = "{{ aws_key_name }}"
pstg_db_password   = "{{ pstg_db_password }}"
pstg_db_identifier = "{{ pstg_db_identifier }}"
pstg_db_username   = "{{ pstg_db_username }}"
pstg_db_port       = "{{ pstg_db_port }}"
datadog_api_key    = "{{ dd_api_key }}"
datadog_app_key    = "{{ dd_app_key }}"
datadog_api_url    = "{{ dd_api_url }}"
datadog_url        = "{{ dd_url }}"

